@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  background-color: #0C0C0C;
  color: #D7E2EA;
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.hero-heading {
  background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
